{% extends 'base.html' %}
{% block title %}Change Password - imageX{% endblock %}
{% block content %}
    <div class="container py-5 px-20">
        <h3 class="mb-3">Change password</h3>

        {% if messages %}
            {% for message in messages %}
                {% if message.level == 20 %}

                    <div class="alert alert-success">{{ message }}</div>

                {% endif %}
            {% endfor %}
        {% elif form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for k,v in form.errors.items %}
                        <li>{{ v|striptags }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-primary" type="submit">Update</button>
        </form>
    </div>
{% endblock %}