{% extends 'base.html' %}
{% block title %}Reset Password - imageX{% endblock %}
{% block content %}
        <div class="container py-5 px-20">
  {% if validlink %}
    <h3>Reset password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary" type="submit">Reset password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used / mistyped.
        Please submit a new lost password request <a href="{% url 'password_reset' %}">here</a>.
    </p>
  {% endif %}
        </div>
{% endblock %}