{% extends "base.html" %}
{% block title %}imageX{% endblock %}
{% block content %}
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to imageX</h1>
            <p class="lead text-muted">Download high-quality images for free</p>
            <p>
            <form method="get" action="/search/results/">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="q"
                           placeholder="Enter keyword(s)"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"
                                aria-haspopup="true" aria-expanded="false">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            </p>

            <div class="btn-group">
                <form method="get" action="/search/category/">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search by Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {% for k, v in all_cat %}
                                <button class="dropdown-item" type="submit" name="{{ k }}">{{ v }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <form method="get" action="/search/photographer/">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                id="dropdownMenu3"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Search by Photographer
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            {% for p in all_photog %}
                                <button class="dropdown-item" type="submit" name="{{ p }}">{{ p.username.first_name }} {{ p.username.last_name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for i in images %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 src="http://127.0.0.1:8000/images/{{ i.img }}"
                                 alt="{{ i.description }}"
                                 id="{{ i.img.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by {{ i.photographer.username }}</h6>
                                <p class="card-body">{{ i.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">Like</button>
                                        <form method="GET" action="/download/">
                                        <button type="submit" class="btn btn-sm btn-outline-primary" name="{{ i.img.name }}">Download</button>
                                        </form>
                                    </div>
                                    <small class="text-muted">{{ i.num_of_downloads }} Downloads</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}