{% extends "base.html" %}
{% block title %}imageX{% endblock %}
{% block content %}
    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to imageX</h1>
            <p class="lead text-muted">Download high-quality images for free</p>
            <p>
            <form action="/search/results/" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="keyword" placeholder="Search"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">

                        {#                        <input type="submit" class="btn btn-outline-primary" value="Search">#}
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Search by...
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <input type="submit" class="dropdown-item" value="keyword(s)">
                            <input type="submit" class="dropdown-item" value="photographer">
                        </div>
                    </div>
                </div>
            </form>
            </p>
            <p class="px-5">or search by category: Abstract, Aerial, Animals, Architecture, Black and White, Family, Fashion, Fine Art, Food, Journalism, Landscape, Macro, Nature, Night, People, Performing Arts, Sport, Still Life, Street, Travel</p>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for i in images %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top"
                                 src="http://127.0.0.1:8000/images/{{ i.img }}"
                                 alt="{{ i.description }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by {{ i.photographer.username }}</h6>
                                <p class="card-body">{{ i.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">Like</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">Download</button>
                                    </div>
                                    <small class="text-muted">0 Downloads</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}