{% extends "base.html" %}
{% block title %}Profile - imageX{% endblock %}
{% block content %}

    <div class="container-fluid py-5 text-center">
        <h4>{{ first_name }} {{ last_name }} ({{ username }})</h4>
        <p> {{ member_description }} </p>
        <p><a href="mailto:{{ email }}">{{ email }}</a></p>

        {% if username == request.user.username %}
            <a class="btn btn-outline-primary" href="/profiles/{{ request.user.username }}/edit">Edit Profile</a>
            <a class="btn btn-outline-primary" href="/change_password/">Change Password</a>
        {% endif %}

    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for i in images %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="/view/?img={{ i.img.name }}"><img class="card-img-top"
                                                                       src="http://localhost:8000/images/{{ i.img }}"
                                                                       alt="{{ i.description }}"
                                                                       id="{{ i.img.name }}"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">posted on {{ i.upload_date }}</h6>
                                <p class="card-body">{{ i.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if request.user.is_authenticated %}
                                            {% if i.photographer.username.username != request.user.username %}
                                                <form method="POST"
                                                      action="{% url 'like_image' i.pk %}">{% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-outline-primary">Like
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                        <form method="GET" action="/download/">
                                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                                    name="{{ i.img.name }}">Download
                                            </button>
                                        </form>
                                    </div>
                                    <small class="text-muted">{{ i.num_of_likes }} Likes</small>
                                    <small class="text-muted">{{ i.num_of_downloads }} Downloads</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
