{% extends "base.html" %}
{% block title %}Profile - imageX{% endblock %}
{% block content %}
  <div class="album py-5">
      <div class="container">
          <div class="row">
              {% for i in images %}
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                          <img class="card-img-top"
                               src="http://127.0.0.1:8000/images/{{ i.img }}"
                               alt="{{ i.description }}">
                          <div class="card-body">
                              <h5 class="card-title">{{ i.title }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">by {{ i.photographer.username }}</h6>
                              <p class="card-body">{{ i.description }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <form action="{% url 'profiles:delete_image' i.id %}" method="post">{% csrf_token %}
                                  <div class="btn-group">
                                      <button type="submit" class="btn btn-sm btn-outline-primary">Delete</button>
                                  </div>
                                </form>
                                  <small class="text-muted">0 Downloads</small>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
{% endblock %}