{% extends 'base.html' %}
{% block title %}Invite - imageX{% endblock %}
{% block content %}
    <div class="container py-5">
        {% load i18n %}
        <br/>
        <p>
        <h4 class="title">{% trans "Invite New Member" %}</h4>
        </p>
        <div class="form-group">
            {% if success_message %}
                <div class="alert alert-success">{{ success_message }}</div>
            {% endif %}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <p>
            Please add an email below. The user will receive an email with instructions to join imageX.
        </p>
        <form id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="email" id="id_email" value="{{ form.email.value }}"
                       class="form-control validate-email" placeholder="{% trans 'Email' %}">
            </div>
            <input type="submit" value="Invite" class="btn btn-primary">
        </form>
    </div>
{% endblock %}