{% extends "base.html" %}
{% block title %}Sign up - imageX{% endblock %}
{% block content %}
    <div class="container py-5">
        {% load i18n %}

        <h1>{% trans "Sign Up" %}</h1>

        <p>Already have an account? Then please <a href="{% url 'login' %}">log in</a>.</p>
        {% if form.errors %}

            <div class="alert alert-danger">
                <ul>
                    {% for k,v in form.errors.items %}
                        {{ v }}
                    {% endfor %}
                </ul>
            </div>

        {% endif %}
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
        </form>
    </div>
{% endblock %}

