{% extends "base.html" %}
{% block title %}imageX{% endblock %}
{% block content %}
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to imageX</h1>
            <p class="lead text-muted">Download high-quality images for free</p>
            <p>
            <form action="/search/results/" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="keyword" placeholder="Enter a keyword" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-primary" value="Search"></input>
                </div>
            </div>
        </form>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">


    <div class="container">
    <div class="row">
        {% for i in images %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     src="http://127.0.0.1:8000/{{ i.img }}"
                     alt="{{ i.description }}">
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by {{ i.photographer.name }}</h6>
                    <p class="card-body">{{i.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-primary">Download</button>
                        </div>
                        <small class="text-muted">0 Downloads</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        <!--<div class="container">-->

            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="card mb-4 box-shadow">-->
                        <!--<img class="card-img-top"-->
                             <!--data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"-->
                             <!--alt="Card image cap">-->
                        <!--<div class="card-body">-->
                            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                                <!--additional content. This content is a little bit longer.</p>-->
                            <!--<div class="d-flex justify-content-between align-items-center">-->
                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                <!--</div>-->
                                <!--<small class="text-muted">9 mins</small>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="card mb-4 box-shadow">-->
                        <!--<img class="card-img-top"-->
                             <!--data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"-->
                             <!--alt="Card image cap">-->
                        <!--<div class="card-body">-->
                            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                                <!--additional content. This content is a little bit longer.</p>-->
                            <!--<div class="d-flex justify-content-between align-items-center">-->
                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                <!--</div>-->
                                <!--<small class="text-muted">9 mins</small>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="card mb-4 box-shadow">-->
                        <!--<img class="card-img-top"-->
                             <!--data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"-->
                             <!--alt="Card image cap">-->
                        <!--<div class="card-body">-->
                            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
                                <!--additional content. This content is a little bit longer.</p>-->
                            <!--<div class="d-flex justify-content-between align-items-center">-->
                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                                <!--</div>-->
                                <!--<small class="text-muted">9 mins</small>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
{% endblock %}