{% extends "base.html" %}
{% block title %}Search by photographer - imageX{% endblock %}
{% block content %}
    <div class="container py-5">
    {% if images.count == 0 %}
    <h1>No photographer named "{{ q }}"</h1>
    <p>Please refine your search query.</p>
    {% else %}
        <h1>Search results for photographer "{{ q }}"</h1>
        <div class="row">
            {% for i in images %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top"
                             src="http://127.0.0.1:8000{{ media_url }}{{ i.img }}"
                             alt="{{ i.description }}"
                             id="{{ i.img }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">by {{ i.photographer.username }}</h6>
                            <p class="card-body">{{ i.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-primary">Like</button>
                                    <button type="button" class="btn btn-sm btn-outline-primary">Download</button>
                                </div>
                                <small class="text-muted">0 Downloads</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

{% endblock %}