{% extends "base.html" %}
{% block title %}Search by photographer - imageX{% endblock %}
{% block content %}
    <div class="container py-5">
        {% if images.count == 0 %}
            <h1>No images by photographer {{ full_name }} ({{ q }})</h1>
            <p>This photographer hasn't shared any images.</p>
        {% else %}
            <h1 class="pb-3">Images by photographer {{ full_name }} ({{ q }})</h1>
            <form method="get" action="/search/photographer/">
                <div class="text-right dropup">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                            id="dropdownMenu3"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <a class="dropdown-item"
                           href="http://localhost:8000/search/photographer/?photog={{ q }}&sort=recent"
                           role="button">Most Recent First</a>
                        <a class="dropdown-item"
                           href="http://localhost:8000/search/photographer/?photog={{ q }}&sort=popular"
                           role="button">Most Popular First</a>
                    </div>
                </div>
            </form>
            <div class="row">
                {% for i in images %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="/view/?img={{ i.img.name }}"><img class="card-img-top"
                                 src="http://localhost:8000/images/{{ i.img }}"
                                 alt="{{ i.description }}"
                                                  id="{{ i.img.name }}"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by <a
                                        href="http://localhost:8000/profiles/{{ i.photographer.username.username }}">{{ i.photographer.username }}</a>
                                    on {{ i.upload_date }}</h6>
                                <p class="card-body">{{ i.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if request.user.is_authenticated %}
                                            {% if i.photographer.username.username != request.user.username %}
                                                <form method="POST"
                                                      action="{% url 'like_image' i.pk %}">{% csrf_token %}
                                                    <button type="submit" class="btn btn-sm btn-outline-primary">Like
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                        <form method="GET" action="/download/">
                                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                                    name="{{ i.img.name }}">Download
                                            </button>
                                        </form>
                                    </div>
                                    <small class="text-muted">{{ i.num_of_likes }} Likes</small>
                                    <small class="text-muted">{{ i.num_of_downloads }} Downloads</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}